.main-screen__text {
    color: #ffffff;
    font-family: "Honey Script";
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}