.benefits__list-text {
    color: #7e7e7e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}