@import url(./__title/reviews__title.css);
@import url(./__container/reviews__container.css);
@import url(./__comment/reviews__comment.css);
@import url(./__text/reviews__text.css);
@import url(./__text/_name/reviews__text_name.css);
@import url(./__space/reviews__space.css);
@import url(./__circle/reviews__circle.css);

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}