.action__text {
    color: #7e7e7e;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 25px;
    text-align: left;
    margin: 32px 0 47px;
    padding: 0;
}