.action__title {
    color: #646363;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}