.benefits__list-title {
    color: #646363;
    font-family: Lato;
    font-size: 25px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 112px 0 32px;
    padding: 0;
}